{# ============================================================================
   宏: 渲染 XAML 属性
   作用: 将属性字典转换为 XAML 属性字符串
   ============================================================================ #}
{% macro render_attributes(attrs, indent='') %}
{%- for key, value in attrs.items() if value is not none -%}
{{ ' ' }}{{ key }}="{{ value }}"
{%- endfor -%}
{%- endmacro %}


{# ============================================================================
   宏: 渲染单个控件 (递归)
   作用: 根据节点类型选择对应的模板并渲染
   ============================================================================ #}
{% macro render_control(node, indent_level=0) %}
{%- set indent = '    ' * indent_level -%}
{%- if node.comment %}
{{ indent }}<!-- {{ node.comment }} -->
{% endif -%}
{%- if node.type == 'Border' -%}
{%- include 'controls/Border.xaml.j2' -%}
{%- elif node.type == 'StackPanel' -%}
{%- include 'controls/StackPanel.xaml.j2' -%}
{%- elif node.type == 'Grid' -%}
{%- include 'controls/Grid.xaml.j2' -%}
{%- elif node.type == 'WrapPanel' -%}
{%- include 'controls/WrapPanel.xaml.j2' -%}
{%- elif node.type == 'TextBlock' -%}
{%- include 'controls/TextBlock.xaml.j2' -%}
{%- else -%}
{{ indent }}<!-- 未知控件类型: {{ node.type }} -->
{%- endif -%}
{%- endmacro %}
