{# UserControl 基础模板 #}
{%- from 'macros/helpers.j2' import render_control -%}
<UserControl x:Class="YourNamespace.{{ class_name }}"
             xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
             xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
             xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
             xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
             mc:Ignorable="d"
             d:DesignHeight="{{ design_height }}" d:DesignWidth="{{ design_width }}">
    
{{ render_control(root, 1) }}
</UserControl>
