{# Border 控件模板 #}
{%- from 'macros/helpers.j2' import render_control -%}
{%- set indent = '    ' * indent_level -%}
{{ indent }}<Border
{%- for key, value in node.attributes.items() if value is not none %}
{{ indent }}    {{ key }}="{{ value }}"
{%- endfor -%}
{%- if node.children %}>
{%- for child in node.children %}
{{ render_control(child, indent_level + 1) }}
{%- endfor %}
{{ indent }}</Border>
{%- else %}/>
{%- endif -%}