{# Grid 控件模板 #}
{%- from 'macros/helpers.j2' import render_control -%}
{%- set indent = '    ' * indent_level -%}
{{ indent }}<Grid>
{%- if node.attributes.get('_column_definitions') %}
{{ indent }}    <Grid.ColumnDefinitions>
{%- for col_width in node.attributes._column_definitions %}
{{ indent }}        <ColumnDefinition Width="{{ col_width }}"/>
{%- endfor %}
{{ indent }}    </Grid.ColumnDefinitions>
{%- endif %}
{%- for child in node.children %}
{{ render_control(child, indent_level + 1) }}
{%- endfor %}
{{ indent }}</Grid>